<!doctype html>
<html lang="zh-CN">
<head>
    <hi:pagetitle runat="server" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/Utility/bootflat/css/bootstrap.min.css" rev="stylesheet"  type="text/css">
    <link rel="stylesheet" href="/Utility/bootflat/bootflat/css/bootflat.min.css" rev="stylesheet" type="text/css">
    <link rel="stylesheet" href="../style/main.css" rev="stylesheet" type="text/css">
    <script src="/script/jquery-1.11.0.min.js"></script>
    <script src="/Utility/bootflat/js/bootstrap.min.js"></script>
    <script src="/Utility/jquery.cookie.js"></script>
    <script src="../script/icheck.min.js"></script>
    <script src="/script/main.js"></script>
</head>
<body>
