<hi:common_mybaseheader runat="server" />
<link href="/style/game.css" rel="stylesheet" />

<div class="container resetBg1">
    
    <div class="containerInner">
        <div class="textDescription">
            <h3 class="rotaryTitle"><span>游戏奖品</span></h3>
            <table width="100%">
                <tbody>
                    <tr>
                        <td width="50%"><span class="marr" id="prizeType0"></span></td>
                        <td width="50%"><span id="prizeType1"></span></td>
                    </tr>
                    <tr>
                        <td width="50%"><span class="marr" id="prizeType2"></span></td>
                        <td width="50%"><span id="prizeType3"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="textDescription resetBottom">
            <h3 class="rotaryTitle"><span>游戏说明</span></h3>
            <div class="gift" id="dGameDescription">
            </div>
        </div>
    </div>
    <div class="rotary-box">
        <div class="banner">
            <div class="turnplate" style="background-image:url(/images/turnplate-bg.png);background-size:100% 100%;">
                <canvas class="item" id="wheelcanvas" width="422" height="422"></canvas>
                <img class="pointer" src="/images/turnplate-pointer.png" />
            </div>
            <div class="shadow"></div>
        </div>
        <div class="activityData">
            <h4>活动时间</h4>
            <p id="gameTime"></p>
        </div>
    </div>
    <div class="center">
        <h3 class="rotaryTitle"><span>中奖名单</span></h3>
        <div class="winningList">
            <div class="nameListTop">
                <ul>
                    <li>昵称</li>
                    <li>奖品</li>
                    <li>等级</li>
                    <li>中奖时间</li>
                </ul>
            </div>
            <div class="nameList" id="userPrizeLists">
            </div>
        </div>
        <div class="myWinning">
            <a href="Vshop/MyPrizeList.aspx?ShowTab=1">点击查看我的奖品</a>
        </div>
    </div>
</div>
<img src="/images/1.png" id="shan-img" style="display:none;" />
<img src="/images/2.png" id="sorry-img" style="display:none;" />
</body>
</html>
<script src="/script/awardRotate.js"></script>
<script src="/script/vgame.js"></script>
<script type="text/javascript">
    var turnplate = {
        restaraunts: [],				//大转盘奖品名称
        colors: [],					//大转盘奖品区块对应背景颜色
        outsideRadius: 192,			//大转盘外圆的半径
        textRadius: 155,				//大转盘奖品位置距离圆心的距离
        insideRadius: 68,			//大转盘内圆的半径
        startAngle: 0,				//开始角度

        bRotate: false				//false:停止;ture:旋转
    };
    //游戏信息

    $(document).ready(function () {
        setHeight();
        $(window).size(function () {
            setHeight();
        })
        BinDate();
        var rotateTimeOut = function () {
            $('#wheelcanvas').rotate({
                angle: 0,
                animateTo: 2160,
                duration: 8000,
                callback: function () {
                    alert('网络超时，请检查您的网络设置！');
                }
            });
        };
        //旋转转盘 item:奖品位置; txt：提示语;
        var rotateFn = function (item, txt) {
            var angles = item * (360 / turnplate.restaraunts.length) - (360 / (turnplate.restaraunts.length * 2));
            if (angles < 270) {
                angles = 270 - angles;
            } else {
                angles = 360 - angles + 270;
            }
            $('#wheelcanvas').stopRotate();
            $('#wheelcanvas').rotate({
                angle: 0,
                animateTo: angles + 1800,
                duration: 8000,
                callback: function () {
                    alert_h(txt);
                    turnplate.bRotate = !turnplate.bRotate;
                }
            });
        };
        $('.pointer').click(function () {
            if (turnplate.bRotate) return;
            turnplate.bRotate = !turnplate.bRotate;
            //获取随机数(奖品个数范围内)
            var item = GetPrize();
            if (item < 0) {
                turnplate.bRotate = false;
                return;
            }
            //奖品数量等于10,指针落在对应奖品区域的中心角度[252, 216, 180, 144, 108, 72, 36, 360, 324, 288]
            rotateFn(item, turnplate.restaraunts[item - 1]);
        });
       
    });

    function BinDate() {
        InitInfo();
        //绑定游戏信息
        for (var i = 0; i < 4; i++) {
            $("#prizeType" + i).html(gameData.prizeLists[i].prizeType + ' : ' + gameData.prizeLists[i].prizeName);
        }
        $("#dGameDescription").html(gameData.Description);
        $("#gameTime").html(gameData.BeginDate + " 至 " + gameData.EndDate);

        //动态添加大转盘的奖品与奖品区域背景颜色
        turnplate.restaraunts = [gameData.prizeLists[0].prizeType, gameData.prizeLists[1].prizeType, gameData.prizeLists[2].prizeType, gameData.prizeLists[3].prizeType, gameData.prizeLists[4].prizeName, gameData.prizeLists[0].prizeType, gameData.prizeLists[1].prizeType, gameData.prizeLists[2].prizeType, gameData.prizeLists[3].prizeType]
        turnplate.colors = ["#FFF4D6", "#FFFFFF", "#FFF4D6", "#FFFFFF", "#FFF4D6", "#FFF4D6", "#FFFFFF", "#FFF4D6", "#FFFFFF"];
        UserPrizeLists();
    }
    //页面所有元素加载完毕后执行drawRouletteWheel()方法对转盘进行渲染
    window.onload = function () {
        drawRouletteWheel();
    };

    function drawRouletteWheel() {
        var canvas = document.getElementById("wheelcanvas");
        if (canvas.getContext) {
            //根据奖品个数计算圆周角度
            var arc = Math.PI / (turnplate.restaraunts.length / 2);
            var ctx = canvas.getContext("2d");
            //在给定矩形内清空一个矩形
            ctx.clearRect(0, 0, 422, 422);
            //strokeStyle 属性设置或返回用于笔触的颜色、渐变或模式
            ctx.strokeStyle = "#FFBE04";
            //font 属性设置或返回画布上文本内容的当前字体属性
            ctx.font = '16px Microsoft YaHei';
            for (var i = 0; i < turnplate.restaraunts.length; i++) {
                var angle = turnplate.startAngle + i * arc;
                ctx.fillStyle = turnplate.colors[i];
                ctx.beginPath();
                //arc(x,y,r,起始角,结束角,绘制方向) 方法创建弧/曲线（用于创建圆或部分圆）
                ctx.arc(211, 211, turnplate.outsideRadius, angle, angle + arc, false);
                ctx.arc(211, 211, turnplate.insideRadius, angle + arc, angle, true);
                ctx.stroke();
                ctx.fill();
                //锁画布(为了保存之前的画布状态)
                ctx.save();
                //----绘制奖品开始----
                ctx.fillStyle = "#E5302F";
                var text = turnplate.restaraunts[i];
                var line_height = 17;
                ctx.translate(211 + Math.cos(angle + arc / 2) * turnplate.textRadius, 211 + Math.sin(angle + arc / 2) * turnplate.textRadius);
                ctx.rotate(angle + arc / 2 + Math.PI / 2);

                if (text.indexOf("M") > 0) {//流量包
                    var texts = text.split("M");
                    for (var j = 0; j < texts.length; j++) {
                        ctx.font = j == 0 ? 'bold 20px Microsoft YaHei' : '16px Microsoft YaHei';
                        if (j == 0) {
                            ctx.fillText(texts[j] + "M", -ctx.measureText(texts[j] + "M").width / 2, j * line_height);
                        } else {
                            ctx.fillText(texts[j], -ctx.measureText(texts[j]).width / 2, j * line_height);
                        }
                    }
                } else if (text.indexOf("M") == -1 && text.length > 6) {//奖品名称长度超过一定范围
                    text = text.substring(0, 6) + "||" + text.substring(6);
                    var texts = text.split("||");
                    for (var j = 0; j < texts.length; j++) {
                        ctx.fillText(texts[j], -ctx.measureText(texts[j]).width / 2, j * line_height);
                    }
                } else {
                    //在画布上绘制填色的文本。文本的默认颜色是黑色
                    //measureText()方法返回包含一个对象，该对象包含以像素计的指定字体宽度
                    ctx.fillText(text, -ctx.measureText(text).width / 2, 0);
                }
                if (i == 4) {
                    var img = document.getElementById("sorry-img");
                    img.onload = function () {
                        ctx.drawImage(img, -15, 10);
                    };
                    ctx.drawImage(img, -15, 10);
                }
                //把当前画布返回（调整）到上一个save()状态之前
                ctx.restore();
                //----绘制奖品结束----
            }
        }
    }

    function setHeight() {
        $('.rotaryTitle').height($('.rotaryTitle').width() * 0.18);
        $('.banner .shadow').css({
            height: $('.banner .shadow').width() * 0.106 + 'px',
            bottom: -$('.banner .shadow').width() * 0.06 + 'px'
        });
        $('.myWinning a').height($('.myWinning a').width() * 0.22);
    }



</script>
