<%@ Control Language="C#" %>
<%@ Register TagPrefix="Hi" Namespace="HiTemplate" Assembly="HiTemplate" %>
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_flash j-swipe" id="mySwipe">
                <ul class="clearfix">
                    
                        
                            <li>
                                <a href="/default.aspx" title="白金早礼">
                                    
                                    
                                    <img src="/Templates/vshop/t12/images/banner@2x.png" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                            <li>
                                <a href="/default.aspx" title="白金早礼">
                                    
                                    
                                    <img src="/Templates/vshop/t12/images/banner@2x.png" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                            <li>
                                <a href="/default.aspx" title="白金早礼">
                                    
                                    
                                    <img src="/Templates/vshop/t12/images/banner@2x.png" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                    
                </ul>
                <section class="members_flash_time">
                    
                    
                    <span class="cur" ></span>
                    
                    <span  ></span>
                    
                    <span  ></span>
                    
                    
                </section>
            </section>
            
        </div>
    
        <div class="Header_style12_panel" style="height:44px;">
            <div class="membersbox" style="height:44px;">
                
                <div class="homeCnav" style="height:44px;line-height:44px;">
                    <div class="homeCnavbox swiper-container" style="height:44px;line-height:44px;">
                        <ul class="swiper-wrapper topnav clearfix" style="height:44px;line-height:44px;">
                            
                            <li class="swiper-slide liwid4" style="height:44px;line-height:44px;">
                                <a href="#" class="colblue" style="background-color:#1f1c1d;height:44px;line-height:44px;margin-right:0px">
                                    <h3 style="color:#FFF;height:44px;line-height:44px;">商城首页</h3>
                                </a>
                            </li>
                            
                            <li class="swiper-slide liwid4" style="height:44px;line-height:44px;">
                                <a href="#" class="colblue" style="background-color:#1f1c1d;height:44px;line-height:44px;margin-right:0px">
                                    <h3 style="color:#FFF;height:44px;line-height:44px;">正在热卖</h3>
                                </a>
                            </li>
                            
                            <li class="swiper-slide liwid4" style="height:44px;line-height:44px;">
                                <a href="#" class="colblue" style="background-color:#1f1c1d;height:44px;line-height:44px;margin-right:0px">
                                    <h3 style="color:#FFF;height:44px;line-height:44px;">所有商品</h3>
                                </a>
                            </li>
                            
                            <li class="swiper-slide liwid4" style="height:44px;line-height:44px;">
                                <a href="#" class="colblue" style="background-color:#1f1c1d;height:44px;line-height:44px;margin-right:0px">
                                    <h3 style="color:#FFF;height:44px;line-height:44px;">我要分销</h3>
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_imgad">
                <ul class="clearfix">
                    
                    
                    <li style="margin-bottom:0px">
                        <a href="/default.aspx" title="白金早礼">
                            
                            
                            <img src="/templates/vshop/t12/images/tu1@2x.png" width="100%" />
                            
                            
                        </a>
                    </li>
                    
                    
                </ul>
            </section>
            
        </div>
    
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_imgad">
                <ul class="clearfix">
                    
                    
                    <li style="margin-bottom:0px">
                        <a href="/default.aspx" title="白金早礼">
                            
                            
                            <img src="/templates/vshop/t12/images/tu2@2x.png" width="100%" />
                            
                            
                        </a>
                    </li>
                    
                    
                </ul>
            </section>
            
        </div>
    
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_imgad">
                <ul class="clearfix">
                    
                    
                    <li style="margin-bottom:0px">
                        <a href="/default.aspx" title="白金早礼">
                            
                            
                            <img src="/templates/vshop/t12/images/tu3@2x.png" width="100%" />
                            
                            
                        </a>
                    </li>
                    
                    
                </ul>
            </section>
            
        </div>
    
        <div class="members_con">
            
            <section class="members_goodspic">
                <ul>
                    
                    <li class="mingoods">
                        <div class="b_mingoods_wrapper">
                            <a href=""><img src="/Admin/shop/Public/images/diy/goodsView1.jpg" width="100%"></a>
                            <span class="replace"><i></i> &yen;78.00<span class="original_price"><s>&yen;99.00</s></span></span>
                        </div>
                    </li>
                    <li class="mingoods">
                        <div class="b_mingoods_wrapper">
                            <a href=""><img src="/Admin/shop/Public/images/diy/goodsView2.jpg" width="100%"></a>
                            <span class="replace"><i></i> &yen;78.00<span class="original_price"><s>&yen;99.00</s></span></span>
                        </div>
                    </li>
                    <li class="mingoods">
                        <div class="b_mingoods_wrapper">
                            <a href=""><img src="/Admin/shop/Public/images/diy/goodsView3.jpg" width="100%"></a>
                            <span class="replace"><i></i> &yen;78.00<span class="original_price"><s>&yen;99.00</s></span></span>
                        </div>
                    </li>
                    <li class="mingoods">
                        <div class="b_mingoods_wrapper">
                            <a href=""><img src="/Admin/shop/Public/images/diy/goodsView4.jpg" width="100%"></a>
                            <span class="replace"><i></i> &yen;78.00<span class="original_price"><s>&yen;99.00</s></span></span>
                        </div>
                    </li>
                    
                </ul>
            </section>
            
        </div>
    
        <div class="members_con">
            
            <section class="members_goodspic">
                <ul>
                    
                    <li class="mingoods">
                        <div class="b_mingoods_wrapper">
                            <a href=""><img src="/Admin/shop/Public/images/diy/goodsView1.jpg" width="100%"></a>
                            <span class="replace"><i></i> &yen;78.00<span class="original_price"><s>&yen;99.00</s></span></span>
                        </div>
                    </li>
                    <li class="mingoods">
                        <div class="b_mingoods_wrapper">
                            <a href=""><img src="/Admin/shop/Public/images/diy/goodsView2.jpg" width="100%"></a>
                            <span class="replace"><i></i> &yen;78.00<span class="original_price"><s>&yen;99.00</s></span></span>
                        </div>
                    </li>
                    <li class="mingoods">
                        <div class="b_mingoods_wrapper">
                            <a href=""><img src="/Admin/shop/Public/images/diy/goodsView3.jpg" width="100%"></a>
                            <span class="replace"><i></i> &yen;78.00<span class="original_price"><s>&yen;99.00</s></span></span>
                        </div>
                    </li>
                    <li class="mingoods">
                        <div class="b_mingoods_wrapper">
                            <a href=""><img src="/Admin/shop/Public/images/diy/goodsView4.jpg" width="100%"></a>
                            <span class="replace"><i></i> &yen;78.00<span class="original_price"><s>&yen;99.00</s></span></span>
                        </div>
                    </li>
                    
                </ul>
            </section>
            
        </div>
    